body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #FFFFCC;
}

#header_back {
  background: #AEFF89;
  padding: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#header {
}

#header_title {
  font-size: 2em;
  font-weight: bold;
  color: #535353;
}

#username {
  font-weight: bold;
  float: right;
  text-align: right;
  margin-top: 10px;
  color: #535353;
}

body > .container {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.login_or_out_status {
  text-decoration: underline;
  color: #535353;
}

.cell:hover {
  background: whitesmoke;
  box-shadow: 2px 2px 6px lightgray;
  cursor: pointer;
}

.btn-green {
  color: black;
  background: #AEFF89;
  border-color: darkgray;
  padding: 6px;
  border-radius: 3px;
  box-shadow: 0 1px 1px lightgray;
  cursor: pointer;
}

.btn-green:hover {
  background: #8BD56B;
}

.modal-header {
  background: #AEFF89;
  -webkit-border-radius: 7px 7px 0 0 / 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0 / 7px 7px 0 0;
  border-radius: 7px 7px 0 0 / 7px 7px 0 0;
}

.modal-content {
  border: 0;
}
