{% extends "cms/base.html" %}

{% block title %}出席管理{% endblock title %}

{% block extrahead %}{% endblock extrahead %}

{% block content %}
  <div class="container">
    <table class="table" border="true">
      <thead>
      <tr>
        <th>時限\曜日</th>
        {% for day in timetable.day_of_week %}
          <th>{{ day }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for row in timetable.table %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% for data in row %}
            {% ifnotequal data "" %}
              <td>
                <p>{{ data.subject_name }}</p>
                <p>{{ data.sum_of_absence }} / {{ data.sum_of_classes }}</p>
                <p>遅刻 : {{ data.sum_of_late }}</p>
                <p><a href="{% url 'cms.views.show_detail' data.id %}">detail</a></p>
              </td>
            {% else %}
              <td/>
            {% endifnotequal %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}