{% extends "table/../base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ subject.name }}{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="{% static "table/detail.js" %}"></script>
{% endblock extrahead %}

{% block content %}
  <div class="container">
    <h2>{{ subject.name }}</h2>
    <a href="{% url 'table.views.index' %}">back</a>
    {% ifequal subject.sum_of_classes 0 %}
      <h3>出席情報がありません</h3>
    {% else %}
      <table class="table table-bordered">
        <form method="POST" action="{% url 'table.views.show_detail' subject.id %}" id="absence">{% csrf_token %}
          {{ attend_formset.management_form }}
          {% for form in attend_formset %}
            <tr>
              <td class="col-md-1 active text-center">第{{ forloop.counter }}回</td>
              <td class="col-md-11">
                {{ form.id }}
                {% bootstrap_field form.absence show_label=False %}
              </td>
            </tr>
          {% endfor %}
        </form>
      </table>
      <input type="submit" value="更新" form="absence" class="btn btn-primary btn-green">
      <input type="button" value="リセット" class="btn btn-default" id="reset">
    {% endifequal %}
  </div>
{% endblock %}