{% extends "base.html" %}
{% load account %}

{% block title %}管理画面{% endblock title %}

{% block extrahead %}{% endblock extrahead %}

{% block content %}
  <div class="container">
    <h2>出欠管理</h2>
    <p>You are logging in as : {% user_display user %}</p>
    <input type="button" value="ログアウト" onclick="location.href='/accounts/logout'">
    <form enctype="multipart/form-data" method="POST" action="{% url 'table.views.index' %}" >{% csrf_token %}
      Twitter連携{{ userprofileform.watch_tl }}
      <input type="hidden" name="user" value="{{ loggingin_user.id }}">
      <input type="submit" value="反映">
    </form>
    <table class="table" border="true">
      <thead>
      <tr>
        <th>時限\曜日</th>
        {% for day in timetable.day_of_week %}
          <th>{{ day }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for row in timetable.table %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% for data in row %}
            {% ifnotequal data "" %}
              <td>
                <p>{{ data.name }}</p>
                <p>{{ data.sum_of_attend }} / {{ data.sum_of_classes }}</p>
                <p>遅刻 : {{ data.sum_of_late }}</p>
                <p><a href="{% url 'table.views.show_detail' data.id %}">detail</a></p>
              </td>
            {% else %}
              <td/>
            {% endifnotequal %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% block upload_status %}{% endblock %}
    <form enctype="multipart/form-data" method="post" action="{% url 'table.views.uploadtable' %}">{% csrf_token %}
      <p>
        時間割ファイルアップロード：{{ uploadform.file }}
      </p>
      <input type="submit" value="アップロード">
    </form>
  </div>

{% endblock content %}