{% extends "base.html" %}
{% load account %}
{% load staticfiles %}

{% block title %}管理画面{% endblock title %}

{% block extrahead %}
  <script type="text/javascript" src="{% static "table/script.js" %}"></script>
  <link type="text/css" rel="stylesheet" href="{% static "table/style.css" %}">
{% endblock extrahead %}

{% block content %}
  <div id="header_back">
    <div id="header" class="container">
      <span id="header_title" class="col-md-9" >出欠管理</span>
      <span id="username" class="col-md-3">{% user_display user %} : <a id="logout_link" href="accounts/logout">ログアウト</a></span>
    </div>
  </div>

  <div class="container">
    <table id="schedule" class="table table-bordered table-responsive sample">
      <thead>
      <tr class="active">
        <th></th>
        {% for day in timetable.day_of_week %}
          <th class="col-lg-2">{{ day }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for row in timetable.table %}
        <tr>
          <td class="active">{{ forloop.counter }}</td>
          {% for data in row %}
            {% ifnotequal data "" %}
              <td class="cell" onclick=location.href="{% url 'table.views.show_detail' data.id %}">
                <div>
                  <p>{{ data.name }}</p>
                  <p>{{ data.sum_of_attend }} / {{ data.sum_of_classes }}</p>
                  <p>遅刻 : {{ data.sum_of_late }}</p>
                </div>
              </td>
            {% else %}
              <td/>
            {% endifnotequal %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div id="upload_file">
      {% block upload_status %}{% endblock %}
      <form enctype="multipart/form-data" method="post" action="{% url 'table.views.uploadtable' %}">{% csrf_token %}
        <label for="file" class="btn btn-default">
          時間割ファイル選択...
          <input type="file" id="file" name="file" style="display: none;">
        </label>
        <input type="submit" id="upload_btn" class="btn btn-primary" value="アップロード">
      </form>
    </div>
  </div>
{% endblock content %}